@import url('https:/fonts.googleapis.comcss?family=Bitter|Roboto&display=swap');
:root{
  --serif:georgia, "Bitter", serif;
  --sans-serif:"Roboto", sans-serif;
  --nav-bg:#6CA6D8;
  --menu-hover:#598BB6;
  --main-bg:#E6F5F9;
  --text-highlight:#02A8F6;
  --canvas-bg:#ffffff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--main-bg);
}
a{
  text-decoration: none;
}
/* utility class */
.heading{
  font-size: 40px;
  font-family: var(--serif);
  padding-bottom: 25px;
  text-align: center;
}
.text{
  font-size: 30px;
  font-family: var(--sans-serif);
}
.accent{
  color:var(--text-highlight);
}
/* navigation */
nav{
  height: 50px;
  background-color: var(--nav-bg);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#logo{
  width: 90px;
  position: relative;
  right: 180px;
}
#menu{
  display:flex;
  list-style-type: none;
  position: relative;
  left: 180px;
}
.menu-items{
  font-family: var(--sans-serif);
  font-size: 23px;
  text-decoration: none;
  color: #ffffff;
  padding: 9px 15px;;
}
.menu-items:hover{
  background-color: var(--menu-hover);
}
/* main content */
.content{
  background-color: #ffffff;
  width: 85vw;
  margin: auto;
  padding: 60px 125px 100px;
}
.artwork-img{
  display: grid;
  grid-template-columns: 500px 500px;
  grid-gap: 60px;
  padding-top: 80px;
  justify-content: center;
}
.artwork-img img{
  width: 100%;
}
.anatomy-poster{
  grid-template-columns: 1055px;
  justify-content: center;
}
