@import url('https:/fonts.googleapis.comcss?family=Bitter|Roboto&display=swap');
:root{
  --serif:georgia, "Bitter", serif;
  --sans-serif:"Roboto", sans-serif;
  --nav-bg:#6CA6D8;
  --menu-hover:#598BB6;
  --main-bg:#E6F5F9;
  --text-highlight:#02A8F6;
  --canvas-bg:#ffffff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--main-bg);
}
a{
  text-decoration: none;
}
/* utility class */
.heading{
  font-size: 40px;
  font-family: var(--serif);
  padding-bottom: 25px;
  text-align: center;
}
.text{
  font-size: 30px;
  font-family: var(--sans-serif);
}
.accent{
  color:var(--text-highlight);
}
.border{
  border:1px grey solid;
}
/* navigation */
nav{
  height: 50px;
  background-color: var(--nav-bg);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#logo{
  width: 90px;
  position: relative;
  right: 180px;
}
#menu{
  display:flex;
  list-style-type: none;
  position: relative;
  left: 180px;
}
.menu-items{
  font-family: var(--sans-serif);
  font-size: 23px;
  text-decoration: none;
  color: #ffffff;
  padding: 11px 15px;;
}
.menu-items:hover{
  background-color: var(--menu-hover);
}
/* main content */
.content{
  background-color: #ffffff;
  width: 85vw;
  min-height: 100vh;
  margin: auto;
  padding: 60px 125px 100px;
}
.artwork-img{
  display: grid;
  grid-template-columns: 500px 500px;
  grid-gap: 60px;
  padding-top: 80px;
  justify-content: center;
}
.artwork-img img{
  width: 100%;
}
.anatomy-poster{
  grid-template-columns: 1055px;
  justify-content: center;
}
@media (min-width:377px) and (max-width:769px){
  /* utility */
  .heading{
    font-size: 40px;
    padding: 30px 0 30px 0;
  }
  .text{
    font-size: 30px;
  }
  /* nav */
  #logo{
    right: 45px;
  }
  #menu{
    left: 60px;
  }
  .menu-items{
    padding: 11px 10px;;
  }
  /* main */
  .content{
    padding: 0 35px 35px 35px;
  }
  .artwork-img{
    grid-template-columns: 1fr;
    grid-gap: 30px;
    padding-top: 50px;
  }
  .anatomy-poster{
    grid-template-columns:580px;
  }
}
@media (max-width:376px) {
  /* utility */
  .heading{
    font-size: 22px;
    font-family: var(--serif);
    padding: 15px 0 15px 0;
    text-align: center;
  }
  .text{
    font-size: 12px;
    font-family: var(--sans-serif);
  }
  /* nav */
  nav{
    height: 35px;
  }
  #logo{
    width: 50px;
    right: 15px;
  }
  #menu{
    left: 25px;
  }
  .menu-items{
    font-size: 13px;
    padding: 9px 10px;;
  }
  /* main content */
  .content{
    padding: 0 35px 35px 35px;
  }
  .artwork-img{
    grid-template-columns: 1fr;
    grid-gap: 30px;
    padding-top: 20px;
  }
  .anatomy-poster{
    grid-template-columns: 250px;
  }
}
