@import url('https:/fonts.googleapis.comcss?family=Bitter|Roboto&display=swap');
:root{
  --serif:georgia, "Bitter", serif;
  --sans-serif:"Roboto", sans-serif;
  --nav-bg:#6CA6D8;
  --menu-hover:#598BB6;
  --main-bg:#E6F5F9;
  --text-highlight:#02A8F6;
  --canvas-bg:#ffffff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--main-bg);
}
a{
  text-decoration: none;
}
/* utility class */
.current{
  background-color: var(--menu-hover);
}
/* navigation */
nav{
  height: 50px;
  background-color: var(--nav-bg);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#logo{
  width: 90px;
  position: relative;
  right: 180px;
}
#menu{
  display:flex;
  list-style-type: none;
  position: relative;
  left: 180px;
}
.menu-items{
  font-family: var(--sans-serif);
  font-size: 23px;
  text-decoration: none;
  color: #ffffff;
  padding: 11px 15px;;
}
.menu-items:hover{
  background-color: var(--menu-hover);
}
/* main content */
#gallery{
  padding: 100px 120px 0 120px;
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: 400px 400px 400px;
  grid-gap: 60px;
}
#gallery img{
  height: 100%;
  width: 100%;
}
/* footer */
footer{
  font-family: var(--serif);
  font-size: 15px;
  padding: 100px 0 50px 0;
  text-align: center;
}
@media (min-width:377px) and (max-width:769px){
  /* nav */
  #logo{
    right: 45px;
  }
  #menu{
    left: 60px;
  }
  .menu-items{
    padding: 11px 10px;;
  }
  /* main */
  #gallery{
    padding: 70px 70px 0 70px;
    grid-template-columns:1fr;
    grid-template-rows: repeat(5, 410px);
    grid-gap: 55px;
  }
}
@media (max-width:376px) {
  /* nav */
  nav{
    height: 35px;
  }
  #logo{
    width: 50px;
    right: 15px;
  }
  #menu{
    left: 25px;
  }
  .menu-items{
    font-size: 13px;
    padding: 9px 10px;;
  }
  /* main */
  #gallery{
    padding: 30px 30px 0 30px;
    grid-template-columns:1fr;
    grid-template-rows: 240px;
    grid-gap: 30px;
  }
}
